.a{
    margin: 30px;
    transform: skew(20deg);
    transition: 5s;
}
.b{
    margin: 100px;
    transform: rotate(20deg);
    transition: 5s;
}

.box{
    display: grid;
    width: 240px;
    height: 240px;
    margin: 100px;
    background-color: greenyellow;
    border-radius: 12px;
    border: solid 2px black;
}
.box:hover{
    transform: rotate(360deg);
    transition: 2s;
    background-color: red;
    opacity: 50%;
}

.box1{
    background-color: black;
    width: 50px;
    height: 50px;
    animation: myanimation 4s infinite;
}

@keyframes myanimation{
    from{
        width: 50px;
    }

    to{
        width: 100px;
        
    }
}